body{
    width: 1080px;
    height: 720px;
    font-family: 'Roboto Mono', monospace;
    background-color: #1f1f1f;
    
}

.contenedor_global{
    width: 80%;
    margin-left: 27.5%;
}

.contenedor_header{
    padding: 10px 20px 0 20px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    
}

h1{
    color:darkgreen;
    
}

.contenedor_main_visible{
    display:none; /*DISPLAY NONE PROVISIONAL*/
    margin: 30px 0 25px 0;
    
}
/*--------------CONTENIDO INVISIBLE RESPUESTA SI---------------*/


.contenedor_main_invisible_yes{
    display: none;
    margin: 60px;
    padding: 10px;
    border: 3px solid #5f5f5f;
    background-color: black;
}

.titulo_invisible_yes{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: darkgreen;
    margin-bottom: 15px;
}

.texto_invisible_yes{
    font-weight: bold;
    color: darkgreen;
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
}

.botones_mensaje{

    text-align: center;
    margin: 25px 0 20px 0;
}

#telegram_boton{
    width: 100px;
    transition: transform 0.3s;
}

#telegram_boton:hover{
    transform: scale(1.2);
    cursor: pointer;
}

#whatsapp_boton{
    width: 55px;
    margin-bottom: 4px;
    transition: transform 0.3s;
    
}

#whatsapp_boton:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.lista_materias{
    color: darkgreen;
}

.lista_materias li{
    margin-left: 30px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

/*-----------CONTENIDO INVISIBLE RESPUESTA NO-----------*/

.contenedor_main_invisible_no{
    margin: 60px;
    padding: 10px;
    border: 3px solid #5f5f5f;
    background-color: black;
}

.titulo_invisible_no{
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: darkgreen;
    margin-bottom: 15px;
}

.contenedor_trollface{
    display: block;
    text-align: center;
}
.trollface{
    width: 300px;
    margin: 25px;
}



/*^^^^^^^^^CONTENIDO INVISIBLE ARRIBA^^^^^^^*/


.imagen_main{
    text-align: center;
    margin: 0 0 15px 0;

}

#imagen_main{
    width: 38%;
}

.botones_main{
    text-align: center;
}

.yes_button{
    display:inline-block;
    margin-right: 12px;
    

}
.no_button{
    display: inline-block;
    margin-left: 12px;
    
}

#yes_button{
    color: white;
    font-weight: bold;
    border-radius: 25px;
    border: 3px solid darkgreen;
    padding: 10px 30px;
    background:linear-gradient(to bottom, #00FF00,darkgreen);
    transition: transform 0.3s;
    box-shadow: 10px 10px 5px black;
}

#yes_button:hover{
    transform: scale(1.2);
    cursor: pointer;
}
#yes_button:active{

    background: darkred;
}


#no_button{
    color: white;
    font-weight: bold;
    border-radius: 25px;
    border: 3px solid darkred;
    padding: 10px 30px;
    background:linear-gradient(to bottom, #FF0000,darkred);
    transition: transform 0.3s;
    box-shadow: 10px 10px 5px black;
}

#no_button:hover{
    transform: scale(1.2);
    cursor: pointer;
}
#no_button:active{
    background: darkgreen;
}

.contenedor_footer{
    
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    text-align: center;
    background-color: #2f2f2f;
}

.texto_footer{
    font-weight: bold;
    margin-bottom: 10px;
    color: green;
    
}

.copyright_footer{
    margin-top: 8px;
    font-weight: bold;
    margin: bottom 8px;
    color: green;

}
